body{
    background-color:rgb(204, 207, 211);
    color: black;
    padding: 30px;
    margin: 10px;
    line-height: 1.5;
    font-family:'Times New Roman', Times, serif;
}
h1{
    text-align: center;
    font-size: 40px;
    padding-top: 10px;
}

p{
    text-align: center;
    font-size: 18px;
}

image{
    max-width: 100%;
    height: auto;
    position:relative;
}